# Devoir maison pour le compte du cours de DBS

In [136]:
#!pip install pandas rdflib

# 0. Import des bibliothèques

In [ ]:
# Import la librarie rdflib
from rdflib import Graph, Literal, RDF, URIRef, Namespace, XSD

## 1 Choix des jeux de données

### Les sources de données

1) NBA games data, Nathan Lugan (Kaggle)
Link : https://www.kaggle.com/datasets/nathanlauga/nba-games?select=games.csv

Colonnes d'intéret : 

GAME_DATE_EST : Le jour du match

GAME_ID : L'identifiant du match

HOME_TEAM_ID : L'identifiant de l'équipe à domicile

VISITOR_TEAM_ID : L'identifiant de l'équipe à l'exterieur

SEASON : La saison

PTS_home : Nombre de points dans le match de l'équipe à domicile

PTS_away : Nombre de points dans le match de l'équipe à l'exterieur

HOME_TEAM_WINS : Valeur booléenne qui si l'équipe à domicile à gagné le match (1) ou non (0)

In [16]:
"""
2) NBA Dataset - Box Scores & Stats, 1947 - Today, Justinas Cirtautas (Kaggle). Link : https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores

gameId : Identifant du match
hometeamCity : Ville de l'équipe à domicile
hometeamName : Nom de l'équipe à l'exterieur
hometeamId : Identifiant de l'équipe à domicile
awayteamCity : Ville de l'équipe à l'exterieur
awayteamName : Nom de l'équipe à l'exterieur
awayteamId : Identifiant de l'équipe à l'exterieur

"""

"\n2) NBA Dataset - Box Scores & Stats, 1947 - Today, Justinas Cirtautas (Kaggle). Link : https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores\n\ngameId : Identifant du match\nhometeamCity : Ville de l'équipe à domicile\nhometeamName : Nom de l'équipe à l'exterieur\nhometeamId : Identifiant de l'équipe à domicile\nawayteamCity : Ville de l'équipe à l'exterieur\nawayteamName : Nom de l'équipe à l'exterieur\nawayteamId : Identifiant de l'équipe à l'exterieur\n\n"

3) NBA Database, Wyatt Walsh (Kaggle). Lien : https://www.kaggle.com/datasets/wyattowalsh/basketball

    person_id : Identifiant de chaque joueur

    first_name : Prénom du joueur

    last_name : Nom du joueur

    birthdate : Date d'anniversaire

    school : L'université de laquelle le joueur vient

    height : La taille du joueur

    position : Sa position

    team_id : L'identifiant de son équipe

    team_name : Le nom de son équipe

    team_city : Ville de son équipe

    team_abbreviation : L'abréviation de son équipe

    draft_year : L'année de draft du joueur

    draft_round : Le tour auquel le joueur a été drafté

# II. Passe au code

In [17]:
import pandas as pd
pd.set_option("display.max_rows", None) # Afficher toutes les lignes
pd.set_option("display.max_columns", None) # Afficher toutes les colonnes

In [18]:
# Import the dataset of players

players = pd.read_csv("./csv_datasets/Players.csv")
players = players[["person_id", "first_name", "last_name", "birthdate", "school", "height", "position", "team_id", "team_name", "team_city", "team_abbreviation", "draft_year", "draft_round"]]
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          4171 non-null   int64
 1   first_name         4171 non-null   object
 2   last_name          4171 non-null   object
 3   birthdate          4171 non-null   object
 4   school             4156 non-null   object
 5   height             4075 non-null   object
 6   position           4108 non-null   object
 7   team_id            4171 non-null   int64
 8   team_name          3469 non-null   object
 9   team_city          3469 non-null   object
 10  team_abbreviation  3469 non-null   object
 11  draft_year         4171 non-null   object
 12  draft_round        4007 non-null   object
dtypes: int64(2), object(11)
memory usage: 423.7+ KB

In [19]:
# Import the Dataset games
games = pd.read_csv("./csv_datasets/Games.csv")
games = games[["GAME_DATE_EST", "GAME_ID", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "SEASON", "PTS_home", "PTS_away", "HOME_TEAM_WINS"]]
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26651 non-null  object
 1   GAME_ID          26651 non-null  int64
 2   HOME_TEAM_ID     26651 non-null  int64
 3   VISITOR_TEAM_ID  26651 non-null  int64
 4   SEASON           26651 non-null  int64
 5   PTS_home         26552 non-null  float64
 6   PTS_away         26552 non-null  float64
 7   HOME_TEAM_WINS   26651 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.6+ MB

In [20]:
games.dropna(inplace=True)
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26552 entries, 0 to 26650
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26552 non-null  object
 1   GAME_ID          26552 non-null  int64
 2   HOME_TEAM_ID     26552 non-null  int64
 3   VISITOR_TEAM_ID  26552 non-null  int64
 4   SEASON           26552 non-null  int64
 5   PTS_home         26552 non-null  float64
 6   PTS_away         26552 non-null  float64
 7   HOME_TEAM_WINS   26552 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.8+ MB

In [21]:
players.dropna(inplace=True)
players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3311 entries, 0 to 4169
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          3311 non-null   int64
 1   first_name         3311 non-null   object
 2   last_name          3311 non-null   object
 3   birthdate          3311 non-null   object
 4   school             3311 non-null   object
 5   height             3311 non-null   object
 6   position           3311 non-null   object
 7   team_id            3311 non-null   int64
 8   team_name          3311 non-null   object
 9   team_city          3311 non-null   object
 10  team_abbreviation  3311 non-null   object
 11  draft_year         3311 non-null   object
 12  draft_round        3311 non-null   object
dtypes: int64(2), object(11)
memory usage: 362.1+ KB

In [22]:
players["team_id"].nunique()

45

In [107]:
# Sets de team_id présents dans games
games_teams = set(games["HOME_TEAM_ID"].unique()).union(set(games["VISITOR_TEAM_ID"].unique()))

# Filtrer players pour ne garder que les team_id présents dans games
players_cleaned = players[players["team_id"].isin(games_teams)]

# Remplacer les valeurs "undrafted" par None dans la colonne draft_round
players_cleaned["draft_round"] = players_cleaned["draft_round"].replace("Undrafted", "-1")

# Convertir la colonne birthday en datetime
players_cleaned["birthdate"] = pd.to_datetime(players_cleaned["birthdate"])

# Sauvegarder si besoin
players_cleaned.to_csv("players_cleaned.csv", index=False)

In [108]:
players = pd.read_csv("players_cleaned.csv")

In [109]:
# Extraire les colonnes équipe depuis player.csv
teams_from_players = players[["team_id", "team_name", "team_city", "team_abbreviation"]].drop_duplicates()

# Extraire les équipes présentes dans game.csv
home_teams = games[["HOME_TEAM_ID"]].rename(columns={"HOME_TEAM_ID": "team_id"})
visitor_teams = games[["VISITOR_TEAM_ID"]].rename(columns={"VISITOR_TEAM_ID": "team_id"})
teams_from_games = pd.concat([home_teams, visitor_teams]).drop_duplicates()

# Fusionner pour avoir toutes les équipes
teams = pd.merge(teams_from_games, teams_from_players, on="team_id", how="left")

# Sauvegarder en CSV
teams_unique = teams.groupby("team_id").agg(lambda x: x.mode()[0]).reset_index()
teams_unique.to_csv("team.csv", index=False)

In [110]:
games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON',
       'PTS_home', 'PTS_away', 'HOME_TEAM_WINS'],
      dtype='object')

# Merge both dataset

nba_df = games.merge(players, on=")

In [111]:
#players["team_id"].nunique()

In [112]:
game = pd.read_csv("./csv_datasets/Games.csv")

In [113]:
game.isna().sum()

GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [114]:
player = pd.read_csv("./csv_datasets/player.csv")

In [115]:
players.isna().sum()

person_id            0
first_name           0
last_name            0
birthdate            0
school               0
height               0
position             0
team_id              0
team_name            0
team_city            0
team_abbreviation    0
draft_year           0
draft_round          0
dtype: int64

In [116]:
player.isna().sum()

id            0
full_name     0
first_name    6
last_name     0
is_active     0
dtype: int64

In [117]:
games.isna().sum()

GAME_DATE_EST      0
GAME_ID            0
HOME_TEAM_ID       0
VISITOR_TEAM_ID    0
SEASON             0
PTS_home           0
PTS_away           0
HOME_TEAM_WINS     0
dtype: int64

In [118]:
player.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

In [119]:
games.to_csv("games_cleaned.csv", index=False)
players.to_csv("players_cleaned.csv", index=False)

# Part 2 : Conversion de CSV à RDF

L'objectif de cette partie est de definir un graphe RDF noté g, qui va capturer toutes les données de nos tables csv Games, Players et Teams qui seront représentées en RDF comme des classes ayant des propriétés.

Chaque individu aura un identifiant unique appelé URI formé de l'url du namespace et de son id unique, et des valeurs des propriétés de sa classe

In [120]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26552 entries, 0 to 26650
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26552 non-null  object
 1   GAME_ID          26552 non-null  int64
 2   HOME_TEAM_ID     26552 non-null  int64
 3   VISITOR_TEAM_ID  26552 non-null  int64
 4   SEASON           26552 non-null  int64
 5   PTS_home         26552 non-null  float64
 6   PTS_away         26552 non-null  float64
 7   HOME_TEAM_WINS   26552 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.8+ MB

In [121]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3130 entries, 0 to 3129
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   person_id          3130 non-null   int64
 1   first_name         3130 non-null   object
 2   last_name          3130 non-null   object
 3   birthdate          3130 non-null   object
 4   school             3130 non-null   object
 5   height             3130 non-null   object
 6   position           3130 non-null   object
 7   team_id            3130 non-null   int64
 8   team_name          3130 non-null   object
 9   team_city          3130 non-null   object
 10  team_abbreviation  3130 non-null   object
 11  draft_year         3130 non-null   object
 12  draft_round        3130 non-null   int64
dtypes: int64(3), object(10)
memory usage: 318.0+ KB

In [122]:
players["birthdate"] = pd.to_datetime(players["birthdate"])

In [124]:
teams_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   team_id            30 non-null     int64
 1   team_name          30 non-null     object
 2   team_city          30 non-null     object
 3   team_abbreviation  30 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [125]:
# Definir un namespace pour notre graphe
NBA = Namespace("https://example.org/nba/")

# Créer un graphe RDF
g = Graph()

# Ajouter des namespaces au graphe
g.bind("nba", NBA)
g.bind("rdf", RDF)
g.bind("xsd", XSD)

# Ajouter des équipes au graphe
for _, row in teams_unique.iterrows():
    # Definir l'URI de l'équipe
    teams_uri = URIRef(NBA[f"{row["team_id"]}"]) 
    
    # Ajouter le type de l'équipe
    g.add((teams_uri, RDF.type, NBA.Team)) 
    
    # Ajouter les propriétés de l'équipe
    g.add((teams_uri, NBA.teamName, Literal(row["team_name"], datatype=XSD.string))) # Ajouter le nom de l'équipe
    g.add((teams_uri, NBA.teamCity, Literal(row["team_city"], datatype=XSD.string))) # Ajouter la ville de l'équipe
    g.add((teams_uri, NBA.teamAbbreviation, Literal(row["team_abbreviation"], datatype=XSD.string))) # Ajouter l'abréviation de l'équipe

In [126]:
# Ajout des joueurs au graphe
for _, row in players.iterrows():
    # Definir l'URI du joueur
    player_uri = URIRef(NBA[f"{row["person_id"]}"])
    
    # Ajouter le type du joueur
    g.add((player_uri, RDF.type, NBA.Player))
    
    # Ajouter les propriétés du joeur
    g.add((player_uri, NBA.firstName, Literal(row["first_name"], datatype=XSD.string))) # Ajouter le prénom du joueur
    g.add((player_uri, NBA.lastName, Literal(row["last_name"], datatype=XSD.string))) # Ajouter le nom du joueur
    g.add((player_uri, NBA.birthdate, Literal(row["birthdate"], datatype=XSD.date))) # Ajouter la date de naissance du joueur
    g.add((player_uri, NBA.school, Literal(row["school"], datatype=XSD.string))) # Ajouter l'école du joueur
    g.add((player_uri, NBA.height, Literal(row["height"], datatype=XSD.string))) # Ajouter la taille du joueur
    g.add((player_uri, NBA.position, Literal(row["position"], datatype=XSD.string))) # Ajouter la position du joueur
    g.add((player_uri, NBA.draftYear, Literal(row["draft_year"], datatype=XSD.gYear))) # Ajouter l'année de draft du joueur
    g.add((player_uri, NBA.draftRound, Literal(row["draft_round"], datatype=XSD.integer))) # Ajouter le round de draft du joueur

In [130]:
# Ajout the matchs au graphe
for _, row in games.iterrows():
    # Definir l'URI du match
    game_uri = URIRef(NBA[f"{row["GAME_ID"]}"])
    
    # Ajouter le type du match
    g.add((game_uri, RDF.type, NBA.Game))
    
    # Ajouter les propriétés du match
    g.add((game_uri, NBA.gameDate, Literal(row["GAME_DATE_EST"], datatype=XSD.date))) # Ajouter la date du match
    g.add((game_uri, NBA.season, Literal(row["SEASON"], datatype=XSD.gYear))) # Ajouter la saison du match
    g.add((game_uri, NBA.ptsHome, Literal(row["PTS_home"], datatype=XSD.integer))) # Ajouter les points de l'équipe à domicile
    g.add((game_uri, NBA.ptsAway, Literal(row["PTS_away"], datatype=XSD.integer))) # Ajouter les points de l'équipe à l'extérieur
    g.add((game_uri, NBA.homeTeamWins, Literal(row["HOME_TEAM_WINS"], datatype=XSD.boolean))) # Ajouter si l'équipe à domicile a gagné

In [133]:
# Sauvegarder le graphe RDF dans un fichier Turtle
g.serialize(destination='./turtles_files/nba_graph.ttl', format='turtle')
print("RDF intégré sauvegardé dans nba_graph.ttl")

RDF intégré sauvegardé dans nba_graph.ttl

In [134]:
# import pandas as pd
# from rdflib import Graph, Namespace, Literal, XSD

# # -----------------------
# # 1️⃣ Charger les CSV
# # -----------------------
# players = pd.read_csv("players_cleaned.csv")
# teams = pd.read_csv("team.csv")
# games = pd.read_csv("games_cleaned.csv")

# # -----------------------
# # -----------------------
# # 3️⃣ Corriger les dates de naissance
# # -----------------------
# def complete_date(d):
#     if pd.isna(d):
#         return None
#     s = str(d).strip()
#     if len(s) == 7 and s[4] == '-':   # YYYY-MM → YYYY-MM-01
#         return s + "-01"
#     if len(s) == 10 and s[4] == '-' and s[7] == '-':  # YYYY-MM-DD
#         return s
#     return None

# players['birthdate'] = players['birthdate'].apply(complete_date)

# # -----------------------
# # 4️⃣ Fonction sécurisée pour convertir en int
# # -----------------------
# def safe_int(val):
#     try:
#         return int(val)
#     except (ValueError, TypeError):
#         return None

# # -----------------------
# # 5️⃣ Créer le graphe RDF
# # -----------------------
# g = Graph()
# ns = Namespace("http://example.org/basketball/")

# # Ajouter les équipes
# for _, row in teams.iterrows():
#     team_uri = ns[f"Team/{row.team_id}"]
#     g.add((team_uri, ns.teamName, Literal(row.team_name)))
#     g.add((team_uri, ns.teamCity, Literal(row.team_city)))
#     g.add((team_uri, ns.teamAbbreviation, Literal(row.team_abbreviation)))

# # Ajouter les joueurs
# for _, row in players.iterrows():
#     player_uri = ns[f"Player/{row.person_id}"]
#     g.add((player_uri, ns.firstName, Literal(row.first_name)))
#     g.add((player_uri, ns.lastName, Literal(row.last_name)))
    
#     if row.birthdate:
#         g.add((player_uri, ns.birthdate, Literal(row.birthdate, datatype=XSD.date)))
    
#     g.add((player_uri, ns.height, Literal(row.height)))
#     g.add((player_uri, ns.position, Literal(row.position)))
#     g.add((player_uri, ns.playsFor, ns[f"Team/{row.team_id}"]))

#     draft_year = safe_int(row.draft_year)
#     if draft_year is not None:
#         g.add((player_uri, ns.draftYear, Literal(draft_year)))

#     draft_round = safe_int(row.draft_round)
#     if draft_round is not None:
#         g.add((player_uri, ns.draftRound, Literal(draft_round)))

# # Ajouter les matchs
# for _, row in games.iterrows():
#     game_uri = ns[f"Game/{row.GAME_ID}"]
#     g.add((game_uri, ns.gameDate, Literal(row.GAME_DATE_EST, datatype=XSD.date)))
#     g.add((game_uri, ns.season, Literal(row.SEASON)))
#     g.add((game_uri, ns.pointsHome, Literal(row.PTS_home)))
#     g.add((game_uri, ns.pointsAway, Literal(row.PTS_away)))
#     g.add((game_uri, ns.homeTeamWins, Literal(bool(row.HOME_TEAM_WINS))))
#     g.add((game_uri, ns.homeTeam, ns[f"Team/{row.HOME_TEAM_ID}"]))
#     g.add((game_uri, ns.visitorTeam, ns[f"Team/{row.VISITOR_TEAM_ID}"]))

# # -----------------------
# # 6️⃣ Sauvegarder en Turtle
# # -----------------------
# g.serialize("basketball.ttl", format="turtle")
# print("RDF généré dans basketball.ttl")

In [135]:
# from rdflib import Graph

# # Charger le graphe
# g = Graph()
# g.parse("basketball.ttl", format="turtle")

# query = """
# PREFIX bb: <http://example.org/basketball/>

# SELECT ?team (SUM(?points) AS ?totalPoints)
# WHERE {
#   {
#     ?game bb:season 2006 ;
#           bb:homeTeam ?team ;
#           bb:pointsHome ?points .
#   }
#   UNION
#   {
#     ?game bb:season 2006 ;
#           bb:visitorTeam ?team ;
#           bb:pointsAway ?points .
#   }
# }
# GROUP BY ?team
# ORDER BY DESC(?totalPoints)
# LIMIT 3
# """

# results = g.query(query)

# # Affichage
# for row in results:
#     team = row.team
#     total_points = row.totalPoints
#     print(f"{team} → {total_points} points")

# Partie 3 : REQUETES SPARQL

Le but de cette partie est d'extraire du graphe nouvellement crée certaines informations sur nos données grace à des requetes Sparql

## Requete 1 : Afficher le logo de l'équipe ayant marquée le plus de points lors de la saison 2018

In [170]:
g.parse("./turtles_files/nba_graph.ttl", format="turtle")
query = """
SELECT ?teamName ?points ?date
WHERE {
  ?game nba:gameDate ?date ;
        (nba:ptsHome | nba:ptsAway) ?points .
  ?team nba:teamName ?teamName .
  FILTER(YEAR(?date) = 2018)
}
ORDER BY DESC(?points)
LIMIT 5
"""
results = g.query(query)
for row in results:
    print(row)

(rdflib.term.Literal('Hawks', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#string')), rdflib.term.Literal('149.0', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#integer')), rdflib.term.Literal('2018-12-22', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#date')))
(rdflib.term.Literal('Celtics', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#string')), rdflib.term.Literal('149.0', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#integer')), rdflib.term.Literal('2018-12-22', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#date')))
(rdflib.term.Literal('Cavaliers', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#string')), rdflib.term.Literal('149.0', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#integer')), rdflib.term.Literal('2018-12-22', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#date')))
(rdflib.term.Literal('Hornets', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#string')), rdflib.term.Literal('149.0', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#integer')), rdflib.term.Literal('2018-12-22', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#date')))
(rdflib.term.Literal('Hornets', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#string')), rdflib.term.Literal('149.0', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#integer')), rdflib.term.Literal('2018-12-22', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#date')))

In [159]:
g